html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
body {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    background: #fff;
    color: #000;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
a {
	color: rgb(0,100,200);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: rgb(0,80,160);
}
label {
	display: block;
}
input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}
input:disabled {
	color: #ccc;
}
input[type="range"] {
	height: 0;
}
.btn {
    background-color: #006cff;
    border-radius: 10px;
    max-width: 100%;
    color: #fff;
    font-size: 12px;
    padding: 10px 5px;
    font-weight: 700;
    margin: 15px 25px;
    text-align: center;
}
.btn:hover {
    background-color: #0056cf;
}
.btn-arrow {
    float: right;
    font-weight: 900;
    background-color: #fff;
    color: #006cff;
    border-radius: 15px;
    font-size: 20px;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
/* button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
} */
